.dropdown{

    ul{
        background-color: var(--color-primary);
    }

    &__submenu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transition: var(--transition-duration);
        visibility: hidden;
        opacity: 0;
        background-color: var(--color-accent);
    }

    &__item:hover &__submenu{
        visibility: visible;
        opacity: 1;
    }

}