.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;

    &__btn{
        @include reset-btn;

        svg{
            color: var(--color-accent);
        }

        &--primary{
            svg{
                color: var(--color-primary);
            }
            
        }

        @include hover{
            opacity: .7;
        }
    }
}