.plans{
        flex-direction: column;

        &__header{
            max-width: 979px;
            text-align: center;
            align-items: center;

            &--blue--waved{
                @include desktop-3{
                    max-width: 650px;
                }

                @include tablet{
                    max-width: 605px;
                }
            }
        }

        &__wrapper{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 32px;
            align-items: center;

            @include tablet-l{
                scroll-snap-type: x mandatory;
                overflow-x: scroll;
                width: 80vw; 
            }
        }

        &__card{

            &__inner{
                display: flex;
                flex-direction: column;
                row-gap: 25px;

                h4{
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                }

                p{
                    --paragraphMarginBottom: 0px;
                }
            }

            padding: 40px 44px;
            border: var(--border);
            border-radius: var(--card-border-radius);

            &--big{
                background-color: var(--color-primary);
                color: white;
                padding: 80px 44px;

                span{
                    color: var(--color-accent-alt);
                }
            }

            @include tablet-l{
                min-width: 300px;
            }

            @include tablet{
                min-width: 380px;
            }

            @include mobile{
                min-width: 280px;
                padding: 20px;
                min-height: 713px;
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            row-gap: 28px; 
        }

        &__item{
            display: flex;
            align-items: center;
            column-gap: 19px;

            svg{
                flex-shrink: 0;
            }

            &--yellow{
                svg{
                    color: var(--color-accent-alt);
                }
            }
        }

        &__btn{
            align-self: flex-start;
        }

        &__actions{
            max-width: 60px;
            width: 100%;
            height: auto;
        }
}