.section{
    // отступ между секциями
    padding-block: var(--section-padding-y);
    
    @include tablet{
        --section-padding-y: 60px;
    }

    @include mobile{
        --section-padding-y: 20px;
    }

    // модификатор заднего фона секции
    &--primary{
        background-color: var(--color-primary);
        color: var(--color-white);
    }

    // модификатор для фоновой фигуры волны
    &--waved{
        z-index: 2;
        position: relative;
        overflow-x: hidden;

        &::after{
            content: url('/assets/images/bg-waves.png');
            position: absolute;
            z-index: -1;
            left: 0px;
            top: 184px;
            
            @include desktop-3{
                content: url('/assets/images/bg-waves.png');
                left: 0px;
                top: 74px;
            }
    
            @include tablet{
                content: url('/assets/images/bg-waves-tablet.png');
                left: 0px;
                top: 124px;
            }

            @include mobile{
                content: url('/assets/images/bg-waves-mobile.png');
                left: 0px;
                top: 74px;
            }
        }
    }

    // модификатор для фоновой фигуры в double
    &--double{
        z-index: 2;
        position: relative;
        overflow-x: hidden;

        &::after{
            content: url('/assets/images/double-section.png');
            position: absolute;
            z-index: -1;
            left: 0px;
            top: 7px;
            
            @include desktop-3{
                content: url('/assets/images/double-section-desktop-3.png');
                left: 0px;
                top: 62px;
            }
    
            @include tablet{
                content: url('/assets/images/double-section-tablet.png');
                left: 0px;
                top: 31px;
            }

            @include mobile{
                content: url('/assets/images/double-section-mobile.png');
                left: 0px;
                top: 39px;
            }
        }

    }

    &--blue--waved{
        z-index: 2;
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;

        &::after{
            content: url('/assets/images/blue-waved.png');
            position: absolute;
            z-index: -1;
            left: 0px;
            top: -180px;
            
            @include desktop-3{
                content: url('/assets/images/blue-waved.png');
                left: 0px;
                top: -168px;
            }
    
            @include tablet{
                content: url('/assets/images/blue-waved.png');
                left: 0px;
                top: -168px;
            }

            @include mobile{
                content: url('/assets/images/blue-waved.png');
                left: 0px;
                top: -168px;
            }
        }
    }

    &--waved--APPS{
        z-index: 2;
        position: relative;
        overflow-x: clip;
        overflow-y: clip;

        &::after{
            content: url('/assets/images/appsBgWaves.png');
            position: absolute;
            z-index: -1;
            left: 0px;
            top: 79px;
            
            @include desktop-3{
                content: url('/assets/images/appsBgWaves--d3.png');
                top: 0px;
            }
    
            @include tablet{
                content: url('/assets/images/appsBgWaves--tablet.png');
                top: 0px;
            }

            @include mobile{
                content: url('/assets/images/appsBgWaves--mobile.png');
                top: -46px;
            }
        }
    }
}