.underline{
    position: relative;

    // background-image: url('/assets/icons/underline--large.svg');
    // background-repeat: no-repeat;
    // background-position: 25% 125%;

    // L--1
    &--large--1::after{
        content: url('/assets/icons/underline--large.png');
        position: absolute;
        left: 0px;
        bottom: -30px;
       z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--d3.png');
            left: 140px;
            bottom: -35px;
            padding-right: 40px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--tablet.png');
            bottom: -25px;
            left: 190px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--tablet.png');
            bottom: -27px;
            left: 0px;
        }
    }

    // L--2
    &--large--2::after{
        content: url('/assets/icons/underline--large--2.png');
        position: absolute;
        left: 190px;
        bottom: -22px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--2--d3.png');
            bottom: -5px;
            left: 150px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--2--tablet.svg');
            bottom: -27px;
            left: 137px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--2--mobile.png');
            bottom: -5px;
            left: 55px;
        }
    }

    // L--slim
    &--slim--large::after{
        content: url('/assets/icons/underline--slim--large.svg');
        position: absolute;
        left: 0px;
        bottom: -45px;

        @include desktop-3{
            content: url('/assets/icons/underline--slim--large--d3.png');
            left: 120px;
            bottom: -45px;
        }

        @include tablet{
            content: url('/assets/icons/underline--slim--large--tablet.png');
            bottom: -23px;
            left: 260px;
        }

        @include mobile{
            content: url('/assets/icons/underline--slim--large--tablet.png');
            bottom: -20px;
            left: 115px;
        }
    }

    // L--3
    &--large--3::after{
        content: url('/assets/icons/underline--large--3.png');
        position: absolute;
        left: 10px;
        bottom: -8px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--3--d3.png');
            left: 7px;
            bottom: -27px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--3--tablet.png');
            bottom: -13px;
            left: 500px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--3--mobile.png');
            bottom: -19px;
            left: 62px;
        }
    }

    // L--4
    &--large--4::after{
        content: url('/assets/icons/underline--large--4.png');
        position: absolute;
        left: 240px;
        bottom: -20px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--4--d3.png');
            left: 210px;
            bottom: -20px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--4--tablet.png');
            bottom: -14px;
            left: 210px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--4--mobile.png');
            bottom: -16px;
            left: 155px;
        }
    }

    // L--slim--BLUE
    &--large--slim--BLUE::after{
        content: url('/assets/icons/underline--large--slim--BLUE.svg');
        position: absolute;
        left: 675px;
        bottom: -17px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--slim--BLUE--d3.svg');
            left: 210px;
            bottom: -26px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--slim--BLUE--tablet.svg');
            bottom: -26px;
            left: 195px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--slim--BLUE--mobile.svg');
            bottom: -16px;
            left: 28px;
        }
    }

    // L--5
    &--large--5::after{
        content: url('/assets/icons/underline--large--5.svg');
        position: absolute;
        left: 199px;
        bottom: -29px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--5--d3.svg');
            bottom: -33px;
            left: 157px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--5--tablet.svg');
            bottom: -18px;
            left: 138px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--5--mobile.svg');
            bottom: -19px;
            left: 77px;
        }
    }

    // L--6
    &--large--6::after{
        content: url('/assets/icons/underline--large--6.svg');
        position: absolute;
        left: 130px;
        bottom: -35px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--large--6--d3.svg');
            bottom: -41px;
            left: 89px;
        }

        @include tablet{
            content: url('/assets/icons/underline--large--6--tablet.svg');
            bottom: -28px;
            left: 104px;
        }

        @include mobile{
            content: url('/assets/icons/underline--large--6--mobile.svg');
            bottom: -24px;
            left: 53px;
        }
    }

    // L--7
    &--small::after{
        content: url('/assets/icons/underline--small.svg');
        position: absolute;
        left: 470px;
        bottom: -16px;
        z-index: -1;

        @include desktop-3{
            content: url('/assets/icons/underline--small--d3.svg');
            bottom: -27px;
            left: 358px;
        }

        @include tablet{
            content: url('/assets/icons/underline--small--d3.svg');
            bottom: -52px;
            left: 367px;
        }

        @include mobile{
            content: url('/assets/icons/underline--small--mobile.svg');
            bottom: -27px;
            left: 96px;
        }
    }
}