body{
    font-family: var(--font-main);
    font-weight: 400;

    @include elastic-text(16, 18);

    color: var(--color-dark);
    background-color: var(--color-white);
}

a,
button,
svg * {
    transition-duration: var(--transition-duration);
}

a{
    text-decoration: none;
    color: inherit;
}

h1, .h1{
    @include elastic-text(54, 72);
}

h2, .h2{
    @include elastic-text(52, 64);
}

h3, .h3{
    @include elastic-text(26, 30);
}

h4, .h4{
    @include elastic-text(18, 24);
}