$desktop-1-above: 1921px;

// от 1441 до 1920
$desktop-1: 1920px;
$desktop-2-above: 1441px;

// от 1153 до 1440
$desktop-2: 1440px;
$desktop-3-above: 1153px;

// от 769 до 1152
$desktop-3: 1152px;
$tablet-above: 769px;

// от 321 до 768
$tablet: 768px;
$mobile-above: 321px;
// с 320
$mobile: 320px;

// миксины позволяющие вписывать медиа запросы непосредственно в селектор тем самым уменьшая объем и путаницу медиа запросов
@mixin desktop-1-above {
    @media (min-width: $desktop-1-above) {
        @content;
    }
}

@mixin desktop-1 {
    @media (max-width: $desktop-1) {
        @content;
    }
}

@mixin desktop-2-above {
    @media (min-width: $desktop-2-above) {
        @content;
    }
}

@mixin desktop-2 {
    @media (max-width: $desktop-2) {
        @content;
    }
}

@mixin desktop-3-above {
    @media (min-width: $desktop-3-above) {
        @content;
    }
}

@mixin desktop-3 {
    @media (max-width: $desktop-3) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

// миксин делающий корректным эффект hover на сенсорных устройствах
@mixin hover {
    @media (hover:hover) {
        &:hover{
            @content;
        }
    }

    @media (hover:none) {
        &:active{
            @content;
        }
    }
}