:root{
    // цвета
    --color-dark: #212529;
    --color-white: #ffffff;
    --color-primary: #043873;
    --color-accent: #4F9CF9;
    --color-accent-alt: #FFE492;
    --color-shadow: #000000;

    // рамка
    --border-yellow: 1px solid var(--color-accent-alt);

    // радиус углов рамки
    --btn-border-radius: 8px;
    --card-border-radius: 10px;

    // circle
    --circle-border-radius: 50%;

    // border
    --border: 1px solid var(--color-accent-alt);

    // тени
    --shadow: 15px 10px 50% var(--color-shadow);

    // шрифты
    --font-main: 'Inter', sans-serif;

    // ширина контентного контейнера
    --container-width: 1376px;

    // отступ от контейнера
    --inline-padding: 32px;

    // отступ между секциями
    --section-padding-y: 100px;

    // высота кнопок
    --btn-height: 60px;

    // line height
    --title-l-h: 70px;
    --default-l-h: 30px;

    // длительность анимции
    --transition-duration: .2s ease-in-out;
}