@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #212529;
  --color-white: #ffffff;
  --color-primary: #043873;
  --color-accent: #4F9CF9;
  --color-accent-alt: #FFE492;
  --color-shadow: #000000;
  --border-yellow: 1px solid var(--color-accent-alt);
  --btn-border-radius: 8px;
  --card-border-radius: 10px;
  --circle-border-radius: 50%;
  --border: 1px solid var(--color-accent-alt);
  --shadow: 1px 1px 25px var(--color-shadow);
  --font-main: "Inter", sans-serif;
  --container-width: 1376px;
  --inline-padding: 32px;
  --section-padding-y: 100px;
  --btn-height: 60px;
  --title-l-h: 70px;
  --default-l-h: 30px;
  --transition-duration: .2s ease-in-out;
}

.container {
  max-width: calc(var(--container-width) * 2);
  margin-inline: auto;
  padding-inline: var(--inline-padding);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (min-width: 1153px) {
  .desktop-hidden {
    display: none !important;
  }
}

@media (min-width: 361px) {
  .mobile-visible {
    display: none !important;
  }
}

body {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: clamp(16px, 1.25vw, 18px);
  color: var(--color-dark);
  background-color: var(--color-white);
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  font-size: clamp(54px, 5vw, 72px);
}

h2, .h2 {
  font-size: clamp(52px, 4.4444444444vw, 64px);
}

h3, .h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, .h4 {
  font-size: clamp(24px, 2.5vw, 36px);
}

h5, .h5 {
  font-size: clamp(20px, 1.6666666667vw, 24px);
}

.burger-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 42px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 7px;
}
.burger-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 2px;
  box-shadow: 0 -8px var(--color-white), 0 8px var(--color-white);
}
@media (hover: hover) {
  .burger-btn:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: var(--transition-duration);
  }
}
@media (hover: none) {
  .burger-btn:active {
    opacity: 0.7;
    cursor: pointer;
    transition: var(--transition-duration);
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--btn-height);
  border-radius: var(--btn-border-radius);
  background-color: var(--color-accent);
  border: none;
  padding: 20px 40px;
  color: var(--color-white);
  transition: var(--transition-duration);
}
@media (hover: hover) {
  .btn:hover:hover {
    opacity: 0.9;
    color: black;
  }
}
@media (hover: none) {
  .btn:hover:active {
    opacity: 0.9;
    color: black;
  }
}
.btn--yellow {
  background-color: var(--color-accent-alt);
  color: var(--color-dark);
}
.btn--arrowed {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.btn--transparent {
  background-color: transparent;
  border: var(--border);
  color: black;
}
@media (hover: hover) {
  .btn--transparent:hover {
    background-color: var(--color-accent-alt);
    color: black;
  }
}
@media (hover: none) {
  .btn--transparent:active {
    background-color: var(--color-accent-alt);
    color: black;
  }
}

.cross-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 7px;
}
.cross-btn::before, .cross-btn::after {
  content: "";
  position: absolute;
  top: 50;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}
.cross-btn::before {
  rotate: 45deg;
}
.cross-btn::after {
  rotate: -45deg;
}
@media (hover: hover) {
  .cross-btn:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: var(--transition-duration);
  }
}
@media (hover: none) {
  .cross-btn:active {
    opacity: 0.7;
    cursor: pointer;
    transition: var(--transition-duration);
  }
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-btn-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 80vh;
}
@media (hover: hover) {
  .mobile-overlay__item:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
@media (hover: none) {
  .mobile-overlay__item:active {
    opacity: 0.7;
    cursor: pointer;
  }
}

.header {
  font-weight: 500;
}
@media (max-width: 360px) {
  .header__logo {
    flex-shrink: 1;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 16px 32px;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
@media (max-width: 1440px) {
  .header__inner {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 1152px) {
  .header__inner {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding: 16px;
    -moz-column-gap: 75px;
         column-gap: 75px;
  }
}
.header__menu {
  margin-left: auto;
}
.header__menu__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.header__menu__item {
  position: relative;
}
.header__menu__item .fa {
  display: inline-flex;
  margin-left: 10px;
}
@media (hover: hover) {
  .header__menu__item:hover {
    cursor: pointer;
  }
}
@media (hover: none) {
  .header__menu__item:active {
    cursor: pointer;
  }
}
@media (max-width: 1152px) {
  .header__menu {
    display: none;
  }
}
.header__actions {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}

.dropdown ul {
  background-color: var(--color-primary);
}
.dropdown__submenu {
  z-index: 3;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transition: var(--transition-duration);
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-accent);
}
.dropdown__item:hover .dropdown__submenu {
  visibility: visible;
  opacity: 1;
}

.underline {
  position: relative;
}
.underline--large--1::after {
  content: url("/assets/icons/underline--large.png");
  position: absolute;
  left: 0px;
  bottom: -30px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--1::after {
    content: url("/assets/icons/underline--large--d3.png");
    left: 140px;
    bottom: -35px;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .underline--large--1::after {
    content: url("/assets/icons/underline--large--tablet.png");
    bottom: -25px;
    left: 190px;
  }
}
@media (max-width: 360px) {
  .underline--large--1::after {
    content: url("/assets/icons/underline--large--tablet.png");
    bottom: -27px;
    left: 0px;
  }
}
.underline--large--2::after {
  content: url("/assets/icons/underline--large--2.png");
  position: absolute;
  left: 190px;
  bottom: -22px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--2::after {
    content: url("/assets/icons/underline--large--2--d3.png");
    bottom: -5px;
    left: 150px;
  }
}
@media (max-width: 768px) {
  .underline--large--2::after {
    content: url("/assets/icons/underline--large--2--tablet.svg");
    bottom: -27px;
    left: 137px;
  }
}
@media (max-width: 360px) {
  .underline--large--2::after {
    content: url("/assets/icons/underline--large--2--mobile.png");
    bottom: -5px;
    left: 55px;
  }
}
.underline--slim--large::after {
  content: url("/assets/icons/underline--slim--large.svg");
  position: absolute;
  left: 0px;
  bottom: -45px;
}
@media (max-width: 1152px) {
  .underline--slim--large::after {
    content: url("/assets/icons/underline--slim--large--d3.png");
    left: 120px;
    bottom: -45px;
  }
}
@media (max-width: 768px) {
  .underline--slim--large::after {
    content: url("/assets/icons/underline--slim--large--tablet.png");
    bottom: -23px;
    left: 260px;
  }
}
@media (max-width: 360px) {
  .underline--slim--large::after {
    content: url("/assets/icons/underline--slim--large--tablet.png");
    bottom: -20px;
    left: 115px;
  }
}
.underline--large--3::after {
  content: url("/assets/icons/underline--large--3.png");
  position: absolute;
  left: 10px;
  bottom: -8px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--3::after {
    content: url("/assets/icons/underline--large--3--d3.png");
    left: 7px;
    bottom: -27px;
  }
}
@media (max-width: 768px) {
  .underline--large--3::after {
    content: url("/assets/icons/underline--large--3--tablet.png");
    bottom: -13px;
    left: 500px;
  }
}
@media (max-width: 360px) {
  .underline--large--3::after {
    content: url("/assets/icons/underline--large--3--mobile.png");
    bottom: -19px;
    left: 62px;
  }
}
.underline--large--4::after {
  content: url("/assets/icons/underline--large--4.png");
  position: absolute;
  left: 240px;
  bottom: -20px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--4::after {
    content: url("/assets/icons/underline--large--4--d3.png");
    left: 210px;
    bottom: -20px;
  }
}
@media (max-width: 768px) {
  .underline--large--4::after {
    content: url("/assets/icons/underline--large--4--tablet.png");
    bottom: -14px;
    left: 210px;
  }
}
@media (max-width: 360px) {
  .underline--large--4::after {
    content: url("/assets/icons/underline--large--4--mobile.png");
    bottom: -16px;
    left: 155px;
  }
}
.underline--large--slim--BLUE::after {
  content: url("/assets/icons/underline--large--slim--BLUE.svg");
  position: absolute;
  left: 675px;
  bottom: -17px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--slim--BLUE::after {
    content: url("/assets/icons/underline--large--slim--BLUE--d3.svg");
    left: 210px;
    bottom: -26px;
  }
}
@media (max-width: 768px) {
  .underline--large--slim--BLUE::after {
    content: url("/assets/icons/underline--large--slim--BLUE--tablet.svg");
    bottom: -26px;
    left: 195px;
  }
}
@media (max-width: 360px) {
  .underline--large--slim--BLUE::after {
    content: url("/assets/icons/underline--large--slim--BLUE--mobile.svg");
    bottom: -16px;
    left: 28px;
  }
}
.underline--large--5::after {
  content: url("/assets/icons/underline--large--5.svg");
  position: absolute;
  left: 199px;
  bottom: -29px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--5::after {
    content: url("/assets/icons/underline--large--5--d3.svg");
    bottom: -33px;
    left: 157px;
  }
}
@media (max-width: 768px) {
  .underline--large--5::after {
    content: url("/assets/icons/underline--large--5--tablet.svg");
    bottom: -18px;
    left: 138px;
  }
}
@media (max-width: 360px) {
  .underline--large--5::after {
    content: url("/assets/icons/underline--large--5--mobile.svg");
    bottom: -19px;
    left: 77px;
  }
}
.underline--large--6::after {
  content: url("/assets/icons/underline--large--6.svg");
  position: absolute;
  left: 130px;
  bottom: -35px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--large--6::after {
    content: url("/assets/icons/underline--large--6--d3.svg");
    bottom: -41px;
    left: 89px;
  }
}
@media (max-width: 768px) {
  .underline--large--6::after {
    content: url("/assets/icons/underline--large--6--tablet.svg");
    bottom: -28px;
    left: 104px;
  }
}
@media (max-width: 360px) {
  .underline--large--6::after {
    content: url("/assets/icons/underline--large--6--mobile.svg");
    bottom: -24px;
    left: 53px;
  }
}
.underline--small::after {
  content: url("/assets/icons/underline--small.svg");
  position: absolute;
  left: 470px;
  bottom: -16px;
  z-index: -1;
}
@media (max-width: 1152px) {
  .underline--small::after {
    content: url("/assets/icons/underline--small--d3.svg");
    bottom: -27px;
    left: 358px;
  }
}
@media (max-width: 768px) {
  .underline--small::after {
    content: url("/assets/icons/underline--small--d3.svg");
    bottom: -52px;
    left: 367px;
  }
}
@media (max-width: 360px) {
  .underline--small::after {
    content: url("/assets/icons/underline--small--mobile.svg");
    bottom: -27px;
    left: 96px;
  }
}

.section {
  padding-block: var(--section-padding-y);
}
@media (max-width: 768px) {
  .section {
    --section-padding-y: 60px;
  }
}
@media (max-width: 360px) {
  .section {
    --section-padding-y: 20px;
  }
}
.section--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.section--waved {
  z-index: 2;
  position: relative;
  overflow-x: hidden;
}
.section--waved::after {
  content: url("/assets/images/bg-waves.png");
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 184px;
}
@media (max-width: 1152px) {
  .section--waved::after {
    content: url("/assets/images/bg-waves.png");
    left: 0px;
    top: 74px;
  }
}
@media (max-width: 768px) {
  .section--waved::after {
    content: url("/assets/images/bg-waves-tablet.png");
    left: 0px;
    top: 124px;
  }
}
@media (max-width: 360px) {
  .section--waved::after {
    content: url("/assets/images/bg-waves-mobile.png");
    left: 0px;
    top: 74px;
  }
}
.section--double {
  z-index: 2;
  position: relative;
  overflow-x: hidden;
}
.section--double::after {
  content: url("/assets/images/double-section.png");
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 7px;
}
@media (max-width: 1152px) {
  .section--double::after {
    content: url("/assets/images/double-section-desktop-3.png");
    left: 0px;
    top: 62px;
  }
}
@media (max-width: 768px) {
  .section--double::after {
    content: url("/assets/images/double-section-tablet.png");
    left: 0px;
    top: 31px;
  }
}
@media (max-width: 360px) {
  .section--double::after {
    content: url("/assets/images/double-section-mobile.png");
    left: 0px;
    top: 39px;
  }
}
.section--blue--waved {
  z-index: 2;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.section--blue--waved::after {
  content: url("/assets/images/blue-waved.png");
  position: absolute;
  z-index: -1;
  left: 0px;
  top: -180px;
}
@media (max-width: 1152px) {
  .section--blue--waved::after {
    content: url("/assets/images/blue-waved.png");
    left: 0px;
    top: -168px;
  }
}
@media (max-width: 768px) {
  .section--blue--waved::after {
    content: url("/assets/images/blue-waved.png");
    left: 0px;
    top: -168px;
  }
}
@media (max-width: 360px) {
  .section--blue--waved::after {
    content: url("/assets/images/blue-waved.png");
    left: 0px;
    top: -168px;
  }
}
.section--waved--APPS {
  z-index: 2;
  position: relative;
  overflow-x: clip;
  overflow-y: clip;
}
.section--waved--APPS::after {
  content: url("/assets/images/appsBgWaves.png");
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 79px;
}
@media (max-width: 1152px) {
  .section--waved--APPS::after {
    content: url("/assets/images/appsBgWaves--d3.png");
    top: 0px;
  }
}
@media (max-width: 768px) {
  .section--waved--APPS::after {
    content: url("/assets/images/appsBgWaves--tablet.png");
    top: 0px;
  }
}
@media (max-width: 360px) {
  .section--waved--APPS::after {
    content: url("/assets/images/appsBgWaves--mobile.png");
    top: -46px;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    row-gap: 100px;
  }
}
@media (max-width: 360px) {
  .hero {
    padding-block: 40px;
  }
}
.hero__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
  line-height: var(--title-l-h);
  max-width: 691px;
}
.hero__header p {
  line-height: var(--default-l-h);
  margin-bottom: 60px;
}
@media (max-width: 1152px) {
  .hero__header {
    max-width: 532px;
  }
}
@media (max-width: 768px) {
  .hero__header {
    max-width: 480px;
    text-align: center;
    row-gap: 24px;
  }
}
@media (max-width: 768px) {
  .hero__btn {
    align-self: center;
  }
}
.hero__img {
  max-width: 685px;
  width: 100%;
  height: auto;
}
@media (max-width: 1152px) {
  .hero__img {
    max-width: 526px;
    width: 55%;
  }
}
@media (max-width: 768px) {
  .hero__img {
    max-width: 551px;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .hero__img {
    min-width: 286px;
    width: 100%;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.content--double {
  margin-bottom: 100px;
}
@media (max-width: 360px) {
  .content--double {
    margin-bottom: 0;
  }
}
.content--double--second {
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 768px) {
  .content--double--second {
    -moz-column-gap: 33px;
         column-gap: 33px;
  }
}
.content--reversed {
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 360px) {
  .content {
    padding-block: 40px;
  }
}
.content__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
  line-height: var(--title-l-h);
  max-width: 620px;
  overflow-x: clip;
}
.content__header--second {
  max-width: 633px;
}
@media (max-width: 768px) {
  .content__header--reversed {
    order: 1;
  }
}
@media (max-width: 768px) {
  .content__header h2 {
    align-self: center;
  }
}
@media (max-width: 1152px) {
  .content__header h2 {
    line-height: 50px;
  }
}
.content__header p {
  line-height: var(--default-l-h);
  margin-bottom: 60px;
}
@media (max-width: 1152px) {
  .content__header p {
    margin-bottom: 20px;
  }
}
@media (max-width: 1152px) {
  .content__header {
    max-width: 450px;
  }
}
@media (max-width: 768px) {
  .content__header {
    max-width: 728px;
    text-align: center;
    row-gap: 24px;
  }
}
@media (max-width: 360px) {
  .content__header {
    line-height: 44px;
  }
}
@media (max-width: 768px) {
  .content__btn {
    align-self: center;
  }
}
.content__img {
  max-width: 719px;
  width: 100%;
  height: auto;
}
@media (max-width: 1152px) {
  .content__img {
    max-width: 527px;
    width: 55%;
  }
}
@media (max-width: 768px) {
  .content__img {
    max-width: 561px;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .content__img--reverse {
    order: -1;
  }
}
@media (max-width: 768px) {
  .content__img--reverse {
    max-width: 454px;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .content__img {
    min-width: 286px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    row-gap: 60px;
  }
}

.plans {
  flex-direction: column;
}
.plans__header {
  max-width: 979px;
  text-align: center;
  align-items: center;
}
@media (max-width: 1152px) {
  .plans__header--blue--waved {
    max-width: 650px;
  }
}
@media (max-width: 768px) {
  .plans__header--blue--waved {
    max-width: 605px;
  }
}
.plans__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  align-items: center;
}
@media (max-width: 1023px) {
  .plans__wrapper {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 80vw;
  }
}
.plans__card {
  padding: 40px 44px;
  border: var(--border);
  border-radius: var(--card-border-radius);
}
.plans__card__inner {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.plans__card__inner h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.plans__card__inner p {
  --paragraphMarginBottom: 0px;
}
.plans__card--big {
  background-color: var(--color-primary);
  color: white;
  padding: 80px 44px;
}
.plans__card--big span {
  color: var(--color-accent-alt);
}
@media (max-width: 1023px) {
  .plans__card {
    min-width: 300px;
  }
}
@media (max-width: 768px) {
  .plans__card {
    min-width: 380px;
  }
}
@media (max-width: 360px) {
  .plans__card {
    min-width: 280px;
    padding: 20px;
    min-height: 713px;
  }
}
.plans__list {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.plans__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 19px;
       column-gap: 19px;
}
.plans__item svg {
  flex-shrink: 0;
}
.plans__item--yellow svg {
  color: var(--color-accent-alt);
}
.plans__btn {
  align-self: flex-start;
}
.plans__actions {
  max-width: 60px;
  width: 100%;
  height: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.pagination__btn {
  background-color: transparent;
  padding: 0;
  border: none;
}
.pagination__btn svg {
  color: var(--color-accent);
}
.pagination__btn--primary svg {
  color: var(--color-primary);
}
@media (hover: hover) {
  .pagination__btn:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .pagination__btn:active {
    opacity: 0.7;
  }
}

.sponsors__header {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .sponsors__header {
    margin-bottom: 70px;
  }
}
@media (max-width: 360px) {
  .sponsors__header {
    margin-bottom: 35px;
  }
}
.sponsors__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 181px;
       column-gap: 181px;
}
@media (max-width: 1152px) {
  .sponsors__list {
    -moz-column-gap: 85px;
         column-gap: 85px;
  }
}
@media (max-width: 768px) {
  .sponsors__list {
    flex-direction: column;
    row-gap: 100px;
  }
}
.sponsors__img {
  height: auto;
}

.testimonials {
  display: flex;
  row-gap: 60px;
  align-items: center;
  justify-content: center;
}
.testimonials__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1023px) {
  .testimonials__wrapper {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 80vw;
  }
}
.testimonials__card {
  background-color: var(--color-accent);
  border-radius: var(--card-border-radius);
  color: var(--color-white);
  max-width: 437px;
  width: 100%;
}
.testimonials__card--white {
  background-color: white;
  box-shadow: var(--shadow);
  color: black;
}
.testimonials__card--white svg {
  color: var(--color-primary);
}
@media (max-width: 1152px) {
  .testimonials__card {
    min-width: 320px;
  }
}
@media (max-width: 1023px) {
  .testimonials__card {
    scroll-snap-align: start;
  }
}
@media (max-width: 360px) {
  .testimonials__card {
    min-width: 288px;
  }
}
.testimonials__inner {
  padding: 60px 24px;
}
.testimonials__comment {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-white);
}
.testimonials__comment--white {
  border-bottom: 1px solid black;
}
.testimonials__name {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
.testimonials__info {
  display: flex;
  align-items: start;
  flex-direction: column;
  row-gap: 15px;
}
.testimonials__info span {
  color: black;
  font-weight: bold;
  font-size: clamp(18pxpx, 1.6666666667pxvw, 24pxpx);
}

.freeTrial {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.freeTrial__header {
  max-width: 608px;
}
@media (max-width: 360px) {
  .freeTrial__header {
    max-width: 288px;
  }
}
.freeTrial__header p {
  margin-bottom: 16px;
}
.freeTrial__decription {
  max-width: 550px;
}
.freeTrial__contacts__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.footer h5, .footer h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.footer__inner {
  padding-top: 100px;
  padding-bottom: 32px;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 67px;
  border-bottom: 1px solid #2E4E73;
}
@media (max-width: 1023px) {
  .footer__main {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 50px;
  }
}
.footer__card {
  display: flex;
  align-items: center;
}
.footer__card--call-to-action {
  max-width: 259px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 23px;
}
@media (max-width: 1023px) {
  .footer__card--call-to-action {
    align-items: center;
  }
}
.footer__card__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.footer__card__list--logo {
  max-width: 240px;
}
@media (max-width: 1023px) {
  .footer__card__list__item--logo {
    align-self: center;
  }
}
@media (hover: hover) {
  .footer__link:hover {
    color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .footer__link:active {
    color: var(--color-accent-alt);
  }
}
.footer__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
}
@media (max-width: 1023px) {
  .footer__extra {
    flex-direction: column;
    row-gap: 50px;
  }
}
.footer__extra__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 1023px) {
  .footer__extra__list {
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer__extra__list--socials {
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 1023px) {
  .footer__extra__list--socials {
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */